snippet ss "Folder start" b
// {{{

endsnippet

snippet ee "Folder end" b
// }}}

endsnippet

snippet ff "Folder" b
// {{{
${1}
// }}}
endsnippet

snippet ac "Ada code snippet" b
.\`$1\`
[,ada]
[%unbreakable]
----
include::../code/$2/$1[]
----

$0
endsnippet

snippet pc "Python code snippet" b
.\`$1\`
[,python]
[%unbreakable]
----
include::../code/$2/snippets/$3[]
----

$0
endsnippet


snippet ph "Python code snippet with highlight" b
.\`$1\`
[,python]
[highlight="$2"]
[%unbreakable]
----
include::../code/$3/snippets/$4[]
----

$0
endsnippet
